<!DOCTYPE HTML>
<html>
<head>
    <base href="/" /> <!-- 상세페이지는 /detail/{id} 와 같은 하위 경로에서 접근할 것이라 절대경로 변경 -->
    <title>detailPage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Content -->
            <section>
                <header class="major">
                    <h2>Product detail</h2>
                </header>

                <h2 th:text="${detailData.title}">상품명</h2>
                <img th:src="@{'/images/mine0' + ${detailData.id} + '.jpg' }" alt="" style="width:280px; height:420px;" />
                <h2 th:text="${'￦ ' + detailData.price}">가격</h2>
                <p th:text="${detailData.description}">상품상세</p>

            </section>

            <!-- Comments Section -->
            <section>
                <h3>Comments</h3>
                <div th:if="${comments.isEmpty()}">
                    <p>No comments yet.</p>
                </div>
                <div th:each="comment : ${comments}">
                    <div class="comment">
                        <p>
                            <strong th:text="${comment.username}">user Name</strong>:
                            <span th:text="${comment.content}">Comment content</span>
                        </p>
                    </div>
                </div>
            </section>

            <!-- comment add -->
            <section>
                <form method="post" action="/comment">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall" style="display: inline-flex">
                            <input type="text" name="content" value="" placeholder="comment" />
                            <input name="parent" th:value="${detailData.id}" hidden>
                            <input style="margin-left: 10px" type="submit" value="POST" class="primary" />
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </div>

    <!-- sidebar -->
    <div th:replace="~{sidebar.html::sidebar}"></div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>