<!DOCTYPE HTML>
<html>
<head>
    <title>listPage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Product List</h2>
                </header>
                <div class="posts">
                    <article th:each="i : ${items}">
                        <a th:href="@{ '/detail/' + ${i.id} }" class="image"><img th:src="@{'/images/mine0' + ${i.id} + '.jpg' }" alt="" style="width:280px; height:420px;" /></a>
                        <h3 th:text="${i.title}" style="display:inline;">상품명</h3>
                        <a th:href="@{ '/edit/' + ${i.id} }" style="display:inline;">✏️</a>
                        <p th:text="${i.description}">상품설명</p>
                        <p th:text="'￦ ' + ${i.price}">가격</p>
                        <ul class="actions">
                            <li><a th:href="@{ '/detail/' + ${i.id} }" class="button">Detail</a></li>
                        </ul>
                    </article>
                </div>
            </section>

        </div>
    </div>

    <!-- sidebar -->
    <div th:replace="~{sidebar.html::sidebar}"></div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>