<!DOCTYPE HTML>
<html>
<head>
    <base href="/"> <!-- main.js 등 불러올 때 오류때문에 추가 (모든 상대경로를 사이트의 루트를 기준으로 해석해줌) (+ list페이지 열 때, page/{num} 이런식으로 동적페이지를 호출해서 경로 에러가 났던 것 같음 -->
    <title>listPage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
<!--    <link rel="stylesheet" th:href="@{/assets/css/main.css}">-->
</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>Product List</h2>
                </header>
                <div class="posts">
                    <article th:each="i : ${items}">
                        <a th:href="@{ '/detail/' + ${i.id} }" class="image"><img th:src="${i.imgPath}" alt="" style="width:280px; height:420px;" /></a>
                        <h3 th:text="${i.title}" style="display:inline;">상품명</h3>
                        <a th:href="@{ '/edit/' + ${i.id} }" style="display:inline;">✏️</a>
                        <span th:onclick="'deleteItem(' + ${i.id} + ')'">❌</span>

                        <p th:text="${i.description}">상품설명</p>
                        <p th:text="'￦ ' + ${i.price}">가격</p>
                        <ul class="actions">
                            <li><a th:href="@{ '/detail/' + ${i.id} }" class="button">Detail</a></li>
                        </ul>
                    </article>
                </div>
            </section>

            <!-- 페이징처리 -->
            <div>
                <ul class="pagination" align="center">
                    <li>
                        <a th:if="${currentPage > 1}" th:href="@{/list/page/{pageNum}(pageNum=${currentPage - 1})}" class="button">Prev</a>
                        <span th:if="${currentPage == 1}" class="button disabled">Prev</span>
                    </li>

                    <!-- First Page -->
                    <li th:if="${totalPages > 0}">
                        <a th:href="@{/list/page/1}" th:classappend="${currentPage == 1} ? 'active'" class="page">1</a>
                    </li>

                    <!-- Left Ellipsis -->
                    <li th:if="${currentPage > 3}">
                        <span>&hellip;</span>
                    </li>

                    <!-- Page Numbers Around Current Page -->
                    <li th:each="pageNum : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                        th:if="${pageNum > 1 and pageNum < totalPages}">
                        <a th:href="@{/list/page/{pageNum}(pageNum=${pageNum})}"
                           th:classappend="${pageNum == currentPage} ? 'active'"
                           class="page"
                           th:text="${pageNum}"></a>
                    </li>

                    <!-- Right Ellipsis -->
                    <li th:if="${currentPage < totalPages - 2}">
                        <span>&hellip;</span>
                    </li>

                    <!-- Last Page -->
                    <li th:if="${totalPages > 1}">
                        <a th:href="@{/list/page/{pageNum}(pageNum=${totalPages})}"
                           th:classappend="${currentPage == totalPages} ? 'active'"
                           class="page"
                           th:text="${totalPages}"></a>
                    </li>

                    <li>
                        <a th:if="${currentPage < totalPages}" th:href="@{/list/page/{pageNum}(pageNum=${currentPage + 1})}" class="button">Next</a>
                        <span th:if="${currentPage == totalPages}" class="button disabled">Next</span>
                    </li>
                </ul>
            </div>

        </div>


    </div>

    <!-- sidebar -->
    <div th:replace="~{sidebar.html::sidebar}"></div>

</div>

<!-- Scripts -->
<script>
function deleteItem(id) {
    if (confirm('삭제하시겠습니까?')) {
        fetch('/deleteItem/' + id,{
            method : 'DELETE'
        })
            .then(response => response.text())
            .then(data => {
                alert(data);
                location.reload();
            })
            .catch(error => console.error('fn_deleteItem Error:', error));
    }
}

</script>

<!--<script src="http://localhost:5000/assets/js/jquery.min.js"></script>
<script src="http://localhost:5000/assets/js/browser.min.js"></script>
<script src="http://localhost:5000/assets/js/breakpoints.min.js"></script>
<script src="http://localhost:5000/assets/js/util.js"></script>
<script src="http://localhost:5000/assets/js/main.js"></script>-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>