<!DOCTYPE HTML>
<html>
<head>
  <title>Sign In</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Section -->
      <section>
        <header class="major">
          <h2>Sign In</h2>
        </header>

        <div th:if="${param.error}"> <!-- url 파라미터중 error가 있으면 보여줌 -->
          <h4>로그인 실패</h4>
        </div>
<!--
        <form method="post" action="/login"> &lt;!&ndash; MyUserDetailsService.java로 감 &ndash;&gt;
          <div class="row gtr-uniform">
            <div class="col-6">
              <input type="text" name="username" placeholder="ID" />
            </div>
            <div class="col-6"></div>

            <div class="col-6">
              <input type="password" name="password" placeholder="PASSWORD" />
            </div>
            <div class="col-6"></div>

            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" value="Login" class="primary" /></li>
              </ul>
            </div>
          </div>
        </form>
-->
        <!-- JWT로그인 -->
        <form>
          <div class="row gtr-uniform">
            <div class="col-6">
              <input type="text" name="username" id="username" placeholder="ID" />
            </div>
            <div class="col-6"></div>

            <div class="col-6">
              <input type="password" name="password" id="password" placeholder="PASSWORD" />
            </div>
            <div class="col-6"></div>
          </div>
        </form>

        <div class="col-12">
          <ul class="actions">
            <li><input type="submit" value="Login" class="primary" onclick="loginJWT()" /></li>
            <button onclick="getMyPage()">JWT 마이페이지</button>
          </ul>
        </div>

      </section>

    </div>
  </div>

  <!-- sidebar -->
  <div th:replace="~{sidebar.html::sidebar}"></div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

<script>
  function loginJWT(){
    fetch('/login/jwt', {
      method : 'POST',
      headers : {'Content-Type': 'application/json'},
      body : JSON.stringify({
        username : document.querySelector('#username').value,
        password : document.querySelector('#password').value
      })
    }).then(r => r.text()).then((r)=>{ console.log(r) }) // https://jwt.io 에서 확인가능
  }
</script>

<script>
  function getMyPage(){
    fetch('/my-page/jwt')
            .then(()=> r.text())
            .then(()=> { console.log(r) })
  }

</script>

</body>
</html>