<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <title>Sign In</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Section -->
      <section>
        <header class="major">
          <h2>MyPage</h2>
        </header>

        <div sec:authentication="principal"></div> <!-- object자료, 유저정보 -->
        <br>

        <span sec:authentication="principal.username"></span>님 안녕하세요
        <br>

        <div sec:authorize="hasAuthority('NormalUser')">
          <h4>일반유저일 때만 보임</h4>
        </div>

<!--        <div sec:authorize="isAuthenticated()">login user</div> &lt;!&ndash; 로그인한 사람만 html보여줌 &ndash;&gt;-->
<!--        <div sec:authorize="isAnonymous()">logout user</div> &lt;!&ndash; 로그아웃한 사람만 html보여줌 &ndash;&gt;-->

      </section>

    </div>
  </div>

  <!-- sidebar -->
  <div th:replace="~{sidebar.html::sidebar}"></div>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>