<html xmlns:sec="http://www.w3.org/1999/xhtml">
<div id="wrapper" th:fragment="sidebar">

  <!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul>
          <li><a href="/#">Home</a></li>
<!--          <li><a href="generic.html">Generic</a></li>-->
<!--          <li><a href="elements.html">Elements</a></li>-->
          <li sec:authorize="isAuthenticated()"><a href="/mypage">my page</a></li> <!-- 로그인한 유저만 보임 -->
          <li><a href="/list">Product List</a></li>
          <li><a href="/notice">Notice</a></li>
          <li>
            <span class="opener">Submenu</span>
            <ul>
              <li><a href="#">Lorem Dolor</a></li>
              <li><a href="#">Ipsum Adipiscing</a></li>
              <li><a href="#">Tempus Magna</a></li>
              <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <!-- Section -->
      <section>
        <header class="main">
            <h2>
              <!-- login -->
              <span sec:authorize="isAuthenticated()">Wellcome</span>
              <span sec:authorize="isAuthenticated()" sec:authentication="principal.username"></span>

              <!-- logout -->
              <span sec:authorize="!isAuthenticated()">Sign here</span>
            </h2>

            <button class="button" onclick="location.href='/logout'" sec:authorize="isAuthenticated()">Logout</button>
            <button onclick="location.href='/register'" sec:authorize="isAnonymous()">Sign Up</button>
            <button onclick="location.href='/login'" sec:authorize="isAnonymous()">Sign In</button>
        </header>

      </section>

      <!-- Section -->
      <section>
        <header class="major">
          <h2>Get in touch</h2>
        </header>
        <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        <ul class="contact">
          <li class="icon solid fa-envelope"><a href="#">2023111219@hycu.ac.kr</a></li>
          <li class="icon solid fa-phone">(02) 2290-0114</li>
          <li class="icon solid fa-home">220 Wangsimni-ro, <br />
            Seongdong-gu, Seoul</li>
        </ul>
      </section>

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>

    </div>
  </div>

</div>